

@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

*{
    box-sizing: border-box;
    
    
}
 
body{
  background-color: hsl(47, 88%, 63%);
  margin:0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
  
}


.card{
   background-color: hsl(0, 0%, 100%);
   border-radius: 20px;
   border: 1px solid black;
   width: 87.2%;
   max-width: 384px;
   min-width: 327px;
   box-shadow: 8px 8px #111111;
   font-family: "Figtree" , sans-serif;
}

.card .img-contain{
margin:24px;
display: flex;
justify-content: center;
align-items: center;
    
}

.img-contain .back-illu{
  border-radius: 10px;
  width:100%;
  max-width:100%;

}

.card .content{
  margin:0px 24px;

}


.content > *{
margin:0px;
margin-bottom:12px;

}

.category{
  display:inline-block;
  padding: 4px 12px ;
  border-radius: 4px;
  background-color: hsl(47, 88%, 63%);
  font-weight:800;
  color: #121212;
  font-size:clamp(0.75rem ,2vw ,0.875rem);
  
}

.date{
  
  color: #121212;
  font-weight:500;
  font-size:clamp(0.75rem ,2vw ,0.875rem);
 
}

a{
  text-decoration: none;
}

.title{
  font-weight:800;
  color: #121212;
  font-size:clamp(1.250rem ,2vw ,1.5rem);
}

.title:hover{
  color: hsl(47, 88%, 63%);

}

.description{
  margin-bottom: 0px;
  font-size:clamp(0.875rem ,2vw ,1rem);
  color: hsl(0, 0%, 42%);
  font-weight:500;
  

}



.author {
   margin: 24px;
   height: 32px;
   display: flex;
   align-items: center;
   

}

.author img{
  
  width:32px;
  display:inline-block;
  margin-right:12px;

}

.author p{
  display:inline-block;
  font-weight:800;
  font-size:clamp(0.75rem ,13vw ,0.875rem);
  

}



